<table class="table table-striped table-hover table-bordered caption-top">
    <caption style="padding: 0px;">
        <div class="alert alert-dark head-radius text-center" style="margin: 0px;">
            <strong>Empresas</strong>
        </div>
    </caption>
    <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 5%;">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col" class="col-2 text-center">AÇÃO</th>
        </tr>
    </thead>
    <tbody [ngSwitch]="existEmpresas">

        <ng-container *ngSwitchCase="true">

            <tr *ngFor="let empresa of empresas">
                <th scope="row" class="text-center">{{ empresa.getId() }}</th>
                <td>{{ empresa.getNome() }}</td>
                <td>{{ empresa.getCnpj() }}</td>
                <td class="d-flex justify-content-evenly">
                    <button type="button" class="btn btn-outline-primary" [routerLink]="[empresa.getId(), 'home']"><i
                            class="bi bi-arrow-up-right-circle-fill"></i></button>
                    <button type="button" class="btn btn-outline-primary" [routerLink]="[empresa.getId(), 'editar']"><i
                            class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-outline-danger" (click)="onDelete(empresa)"><i
                            class="bi bi-trash3-fill"></i></button>

                </td>
            </tr>

        </ng-container>

        <tr *ngSwitchCase="false">
            <td style="text-align:center;" colspan="4">Não existe empresa cadastrada</td>
        </tr>

    </tbody>
</table>
<button type="button" (click)="onClick()" class="btn btn-primary">Adicionar</button>